<div class="container text-center" style="padding-top: 100px; width: 50rem">
  <div class="row justify-content-md-center">
    <div class="card text-center" style="width: 50rem">
      <div class="card-header">
        <h4>ChatGPT API Call </h4>
      </div>
      <div class="card-body">
        <h4 class="card-title">Instruction</h4>
        <div class="mb-4">
          <label for="textForm" class="form-label">Enter your request into the input field and click the Submit
            button</label>
          <textarea class="form-control" id="textForm" rows="2" [(ngModel)]="userRequest" (keydown.enter)="submitOnEnter()"></textarea>
        </div>
        <button (click)="chatRequest()" class="btn btn-primary me-3" type="submit">
          Submit Request
        </button>
      </div>
      <div class="card-footer text-body-secondary">
        <div *ngIf="messageContent">
          <p>{{ messageContent }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>